
body {
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: coral;
background-color: darkkhaki;
border: black 20px solid;
}

h1{
margin: 10px;
padding: 10pxx;
}

div {
    background: black;
    color: rgb(255, 255, 255);
    width: 500px;
    border: none; 
    margin: 50px;
    padding: 20px;
    font-size: 30px;
}

.positioned {
    width: 300px;
    height: 300px;
    background: red;
    top: 100px;
    position: relative;
}
